<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Saber</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styledoar.css')}}">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="/"><img src="{{ url_for('static', filename='images/Logo3-pp.png')}}" alt="Logo Ponte do Saber"></a>
            </div>
            <nav>
                <div class="menu">
                    <ul>                
                        <li><a href="/">HOME</a></li>
                        <li><a href="/doar">DOAR</a></li>
                        <li><a href="/biblioteca">BIBLIOTECA</a></li>
                        <li><a href="/contato">CONTATO</a></li>      
                        <li><a href="/entrar">ENTRAR</a></li>
                    </ul>
                </div>
            </nav>            
        </div>  
    </header>
       <hr>
       <section>
        <div id="registration-container">
            <h1>Registrar Livro</h1>
            <form action="/novo_livro" method="POST">
               <label for="nome">Nome do Livro</label>
               <input type="text" required name="nome" id="nome" placeholder="Digite nome do livro" autocomplete="off">

               <label for="autor">Autor do Livro</label>
               <input type="text" required name="autor" id="autor" placeholder="Digite nome do Autor do livro" autocomplete="off">
			   
			   <label for="email_doador">E-mail do Doador</label>
               <input type="text" required name="email_doador" id="email_doador" placeholder="Digite e-mail do Doador do livro" autocomplete="off">
               
                <label for="estado">Selecione o estado do livro</label>
                <select required name="estado" id="estado">
                    <option value="Vazio" disabled selected></option>
                    <option value="Ruim">Ruim</option>
                    <option value="Bom">Bom</option>
                    <option value="Excelente">Excelente</option>
                </select>        

                <label for="genero">Selecione o gênero</label>
                <select name="genero" id="genero" required>
                    <option value="Vazio" disabled selected></option>
                    <option value="Ação e Aventura">Ação e Aventura</option>
                    <option value="Auto Ajuda">Auto Ajuda</option>
                    <option value="Biografia">Biografia</option>
                    <option value="Didático">Didático</option>
                    <option value="Drama">Drama</option>
                    <option value="Fantasia">Fantasia</option>
                    <option value="Ficção Científica">Ficção Científica</option>
                    <option value="Horror">Horror</option>
                    <option value="Infantil">Infantil</option>
                    <option value="Poesia">Poesia</option>
                    <option value="Romance">Romance</option>
                    <option value="Suspense">Suspense</option>
                    <option value="Outro">Outro</option>                  
                </select>

               
               <input type="submit" value="Submit">
            </form>
            
        </div>
    </section>
	<hr>
    <footer>
        <p>"A leitura engrandece a alma"<br>
            Voltaire</p>  
        <img src="{{ url_for('static', filename='images/footer2.png')}}"alt="">
           
    </footer>
    
        
</body>
</html>